/* roboto-regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("Roboto"), local("Roboto-Regular"), url("src/roboto-v20-latin-regular.woff2") format("woff2"), url("src/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("src/roboto-v20-latin-italic.woff2") format("woff2"), url("src/roboto-v20-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("src/roboto-v20-latin-700.woff2") format("woff2"), url("src/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("src/roboto-v20-latin-700italic.woff2") format("woff2"), url("src/roboto-v20-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local("Metropolis Semibold"), local("Metropolis-SemiBold"), url("src/Metropolis-SemiBold.woff2") format("woff"), url("src/Metropolis-SemiBold.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("Metropolis Regular"), local("Metropolis-Regular"), url("src/Metropolis-Regular.woff2") format("woff"), url("src/Metropolis-Regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dark-accent {
  color: #050829 !important;
  text-shadow: -1px 1px 1px white;
}

.light-accent {
  color: white !important;
  text-shadow: -1px 1px 1px #050829;
}

#skills {
  justify-content: center;
}

.section-title {
  color: #050829;
  font-family: Metropolis, Helvetica, sans-serif;
  font-size: calc( 32px + 1.5vw);
  font-weight: 600;
  margin: 1rem auto;
  width: fit-content;
}

.skill-columns {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill-column {
  list-style: none;
  margin: 0.5rem;
  padding-left: 0;
  text-align: center;
}
.skill-column :first-child {
  margin-top: 0;
}
.skill-column :last-child {
  margin-bottom: 0;
}

.skill-header {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc( 24px + 1.25vw);
  font-weight: 600;
  margin: 0.5rem;
}

.skill {
  color: #050829;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc( 16px + 1vw);
  font-weight: 400;
  margin: 0.25rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  color: #050829;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
}

.input {
  border: none;
  border-radius: 1rem;
  line-height: calc(22px + 1.05vw);
  margin: 1rem;
  text-indent: 4%;
}
.input::placeholder {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  text-indent: 4%;
}

.submit-btn {
  color: white;
  background: #050829;
  border: none;
  border-radius: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  line-height: calc(22px + 1.05vw);
  margin: 0 auto;
  padding: 0.5rem 2rem;
  width: fit-content;
}

.js-form-response {
  color: #050829;
  display: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

footer {
  background-color: #050829;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footnote {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  margin: 0 auto;
  padding: 0.5rem;
}

@media (min-width: 768px) and (min-height: 425px) {
  #skills {
    height: calc(100vh - 2rem);
    justify-content: center;
  }

  .skill-columns {
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
  }

  label {
    margin: auto;
    max-width: 50%;
    min-width: 40%;
  }
}

/*# sourceMappingURL=lazyLoad.css.map */
