@import "variables";

html {
  animation: gradient 6s ease forwards;
  background: linear-gradient(135deg, $primary 55%, rgba(109, 255, 255, 1));
  background-size: 150% 150%;
}

@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	// 50% {
	// 	background-position: 0% 0%;
	// }
	100% {
		background-position: 90% 90%;
	}
}

body {
	align-content: center;
	margin: 0;
	position: relative;
}

main {
  cursor: default;
}

p {
	padding: 1rem;
	margin: 0;
}

.bio {
	color: white;
	font-family: $roboto;
	font-size: calc(16px + 0.35vw);
	font-weight: 400;
}

.social {
	color: white;
	font-family: $roboto;
	font-size: calc(16px + 0.35vw);
	font-weight: 400;
	padding-top: 0;
}

.contact-wrapper {
	padding: 1rem;
}

.greeting {
  color: $accent;
  font-family: $roboto;
  font-size: calc(96px + 1vw);
  font-style: italic;
  font-weight: 700;
  margin: 1rem auto 1rem auto;
  text-shadow: 3px 3px 0px $secondary;
  width: fit-content;
}

.link {
  color: $accent;
  text-decoration: underline;
}

.link:active {
  color: $interactive;
}

.contact-form {
  background: $primary;
  border-radius: 2rem;
  box-shadow:  2px 2px 4px $secondary,  -4px -4px 8px $accent;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  font-family: $roboto;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  position:relative;
}

.animated-label {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 18px;
  transition: 0.2s ease all;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid $secondary;
  color: white;
  font-family: $roboto;
  font-size: calc(16px + 0.35vw);
  line-height: calc(22px + 1.05vw);
  margin: 1rem;
  text-indent: 4%;
}

input:focus {
  outline: none;
}

input:focus ~ .animated-label,
input:not(:focus):valid ~ .animated-label {
  color: $interactive;
  top: -8px;
}

textarea {
  height: 1.5em;
  transition: 0.2s ease all;
}

textarea:focus {
  height: 4em;
  outline: none;
}

textarea:focus ~ .animated-label,
textarea:not(:focus):valid ~ .animated-label {
  color: $interactive;
  top: -8px;
}

.recaptcha-placeholder {
  margin: 0 auto 1rem;
  width: fit-content;
}

.g-recaptcha {
	div {
		margin: 0 auto 1rem auto;
	}
}

.submit-btn {
	color: $accent;
	background: $secondary;
  border: none;
	border-radius: 1rem;
  font-family: $roboto;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  line-height: calc(22px + 1.05vw);
  margin: 0 auto;
	padding: .5rem 2rem;
  width: fit-content;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:active {
  // background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  background: $interactive;
}

.submit-btn:focus{
  outline: none;
}

.js-form-response {
  color: $secondary;
	display: none;
  font-family: $roboto;
  font-size: calc(12px + 0.25vw);
  font-weight: 400;
  text-align: center;
}

footer {
  background-color: $secondary;
  width: 100%;
}

.footnote {
  color: $accent;
  font-family: $roboto;
  font-size: calc(16px + 0.35vw);
  margin: 0 auto;
  padding: .5rem
}

.dot-wrapper {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.dot {
  background: $interactive;
  height: 0px;
  width: 0px;
  -webkit-transition-duration: 1.5s;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-in-out;
  border-radius: 100%;
  padding: 1px;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.pretty {
  height: 100px;
  width: 100px;
}

.pretty-fade {
  opacity: 0;
}

@media (min-width: 768px) and (min-height: 425px) {

  html {
    // height: 100vh;
  }

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
  }
  
  .greeting {
		margin: auto;
		max-width: 82%;
  }

	.bio, .social {
		margin: auto;
		max-width: 66.6%;
	}

	.contact-wrapper {
		margin-bottom: 2rem;
	}

	.contact-form {
    margin: auto;
    max-width: 496px;
  }

	footer {
    background: linear-gradient(135deg, $secondary 0%, rgba(109, 255, 255, 0) 50%);
		bottom: 0;
		position: fixed;
	}
}

@media (min-height: 790px) {

  html {
    height: 100vh;
  }

	footer {
		bottom: 0;
		position: fixed;
	}
}

@media (min-width: 1440px) and (min-height: 920px) {

  body {
    height: 100vh;
  }

	.greeting, .bio, .social {
		margin: auto;
		max-width: 50%;
  }
}
