/* roboto-regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("Roboto"), local("Roboto-Regular"), url("src/roboto-v20-latin-regular.woff2") format("woff2"), url("src/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("src/roboto-v20-latin-italic.woff2") format("woff2"), url("src/roboto-v20-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("src/roboto-v20-latin-700.woff2") format("woff2"), url("src/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("src/roboto-v20-latin-700italic.woff2") format("woff2"), url("src/roboto-v20-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.dark-accent {
  color: #303030 !important;
}

.uc-link {
  color: #303030;
  text-decoration: underline;
}

.light-accent {
  color: white !important;
  text-shadow: -1px 1px 1px #303030;
}

html {
  background: linear-gradient(135deg, #89c4eb 55%, rgba(255, 255, 255, 0.05));
}

body {
  margin: 0;
  position: relative;
  align-content: center;
}

p {
  padding: 1rem;
  margin: 0;
}

.uc-greeting {
  margin: 1rem auto 1rem auto;
  width: fit-content;
}

.uc-bio {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
}

.uc-social {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  padding-top: 0;
}

.media-topics {
  padding: 1rem;
}

.uc-greeting {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(96px + 1vw);
  font-style: italic;
  font-weight: 700;
}

.contact-form {
  background: #89c4eb;
  border-radius: 2rem;
  box-shadow: 2px 2px 4px #303030, -4px -4px 8px white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  position: relative;
}

.test {
  position: absolute;
  pointer-events: none;
  left: 15px;
  top: 18px;
  transition: 0.2s ease all;
}

.input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #303030;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  line-height: calc(22px + 1.05vw);
  margin: 1rem;
  text-indent: 4%;
}

input:focus {
  outline: none;
}

input:focus ~ .test,
input:not(:focus):valid ~ .test {
  color: #303030;
  top: -8px;
}

textarea {
  height: 1.5em;
  transition: 0.2s ease all;
}

textarea:focus {
  height: 4em;
  outline: none;
}

textarea:focus ~ .test,
textarea:not(:focus):valid ~ .test {
  color: #303030;
  top: -8px;
}

.recaptcha-placeholder {
  margin: 0 auto 1rem;
  width: fit-content;
}

.g-recaptcha div {
  margin: 0 auto 1rem auto;
}

.submit-btn {
  color: white;
  background: #303030;
  border: none;
  border-radius: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  line-height: calc(22px + 1.05vw);
  margin: 0 auto;
  padding: 0.5rem 2rem;
  width: fit-content;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:active {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.25));
}

.submit-btn:focus {
  outline: none;
}

.js-form-response {
  color: #303030;
  display: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(12px + 0.25vw);
  font-weight: 400;
  text-align: center;
}

footer {
  background-color: #303030;
  width: 100%;
}

.footnote {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  margin: 0 auto;
  padding: 0.5rem;
}

@media (min-width: 768px) and (min-height: 425px) {
  html {
    height: 100vh;
  }

  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .uc-greeting {
    margin: auto;
    max-width: 82%;
  }

  .uc-bio, .uc-social {
    margin: auto;
    max-width: 66.6%;
  }

  .media-topics {
    margin-bottom: 2rem;
  }

  .contact-form {
    margin: auto;
    max-width: 496px;
  }

  footer {
    bottom: 0;
    position: fixed;
  }
}
@media (min-width: 1440px) and (min-height: 920px) {
  body {
    height: 100vh;
  }

  .uc-greeting, .uc-bio, .uc-social {
    margin: auto;
    max-width: 50%;
  }
}
@media (min-height: 790px) {
  html {
    height: 100vh;
  }

  footer {
    bottom: 0;
    position: fixed;
  }
}

/*# sourceMappingURL=priorityLoad.css.map */
