/* roboto-regular */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("Roboto"), local("Roboto-Regular"), url("src/roboto-v20-latin-regular.woff2") format("woff2"), url("src/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-italic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: fallback;
  src: local("Roboto Italic"), local("Roboto-Italic"), url("src/roboto-v20-latin-italic.woff2") format("woff2"), url("src/roboto-v20-latin-italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("src/roboto-v20-latin-700.woff2") format("woff2"), url("src/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700italic */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  font-display: fallback;
  src: local("Roboto Bold Italic"), local("Roboto-BoldItalic"), url("src/roboto-v20-latin-700italic.woff2") format("woff2"), url("src/roboto-v20-latin-700italic.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.dark-accent {
  color: #050829 !important;
}

.uc-link {
  color: #050829;
  text-decoration: underline;
}

.light-accent {
  color: white !important;
  text-shadow: -1px 1px 1px #050829;
}

body {
  background: #6283d6;
  height: 100vh;
  margin: 0;
  position: relative;
  align-content: center;
}

p {
  padding: 1rem;
  margin: 0;
}

.uc-greeting {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
}

.uc-social {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  padding-top: 0;
}

.media-topics {
  padding: 1rem;
}

footer {
  background-color: #050829;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footnote {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  margin: 0 auto;
  padding: 0.5rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  color: #050829;
  display: flex;
  flex-direction: column;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
}

.input {
  border: none;
  border-radius: 1rem;
  line-height: calc(22px + 1.05vw);
  margin: 1rem;
  text-indent: 4%;
}
.input::placeholder {
  color: white;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  text-indent: 4%;
}

.submit-btn {
  color: white;
  background: #050829;
  border: none;
  border-radius: 1rem;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  line-height: calc(22px + 1.05vw);
  margin: 0 auto;
  padding: 0.5rem 2rem;
  width: fit-content;
}

.js-form-response {
  color: #050829;
  display: none;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 768px) and (min-height: 425px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .uc-greeting, .uc-social {
    margin: auto;
    max-width: 50%;
  }

  label {
    margin: auto;
    max-width: 50%;
    min-width: 40%;
  }
}

/*# sourceMappingURL=priorityLoad.css.map */
