@import "variables";

body {
	background: $blue;
	height: 100vh;
	margin: 0;
	position: relative;
	align-content: center;
}

p {
	padding: 1rem;
	margin: 0;
}

.uc-greeting {
	color: white;
	font-family: $roboto;
	font-size: calc(16px + 0.35vw);
	font-weight: 400;
}

.uc-social {
	color: white;
	font-family: $roboto;
	font-size: calc(16px + 0.35vw);
	font-weight: 400;
	padding-top: 0;
}

.media-topics {
	padding: 1rem;
}

// start of lazyLoad

footer {
  background-color: $darkBlue;
  bottom: 0;
  position: absolute;
  width: 100%;
}

.footnote {
  color: $lightBlue;
  font-family: $roboto;
  font-size: calc(16px + 0.35vw);
  margin: 0 auto;
  padding: .5rem
}

.contact-form {
  display: flex;
  flex-direction: column;
}

label {
  color: $darkBlue;
  display: flex;
  flex-direction: column;
  font-family: $roboto;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
}

.input {
  border: none;
  border-radius: 1rem;
  line-height: calc(22px + 1.05vw);
  margin: 1rem;
  text-indent: 4%;

  &::placeholder {
    color: white;
    font-family: $roboto;
    font-size: calc(16px + 0.35vw);
    font-weight: 400;
    text-indent: 4%;
  }
}

.submit-btn {
	color: $lightBlue;
	background: $darkBlue;
  border: none;
	border-radius: 1rem;
  font-family: $roboto;
  font-size: calc(16px + 0.35vw);
  font-weight: 400;
  line-height: calc(22px + 1.05vw);
  margin: 0 auto;
	padding: .5rem 2rem;
  width: fit-content;
}

.js-form-response {
  color: $darkBlue;
	display: none;
  font-family: $roboto;
  font-weight: 400;
  text-align: center;
}

//End of lazyLoad

@media (min-width: 768px) and (min-height: 425px) {

	body {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.uc-greeting, .uc-social {
		margin: auto;
		max-width: 50%;
	}

	label {
    margin: auto;
    max-width: 50%;
    min-width: 40%;
  }
}
